
@{
    ViewBag.Title = "List_Xemthem";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<table class="table">
    <tr>

        <th>Tỉnh/TP</th>
        <th>Tổng số ca</th>
        <th>Hôm nay</th>
        <th>Tử vong</th>
    </tr>


    <tr>
        <td> TP. Hồ Chí Minh</td>
        <td> 451.164</td>
        <td style="color:red">  +1.339</td>
        <td>  17.362</td>
    </tr>

    <tr>
        <td>  Bình Dương</td>
        <td>  291.540</td>
        <td style="color:red">  +661 </td>
        <td>   2.593 </td>
    </tr>

    <tr>
        <td>
            Đồng Nai
        </td>
        <td> 81.101</td>
        <td style="color:red"> +578</td>
        <td> 621</td>
    </tr>
    <tr>
        <td>
            Long An
        </td>
        <td>
            37.091
        </td>
        <td style="color:red">
            +112
        </td>
        <td>
            549
        </td>
    </tr>
    <tr>
        <td>
            Tiền Giang
        </td>
        <td>
            22.856
        </td>
        <td style="color:red">
            +382
        </td>
        <td>
            459
        </td>
    </tr>
    <tr>
        <td>
            An Giang
        </td>
        <td>
            20.008
        </td>
        <td style="color:red">
            +365
        </td>
        <td>
            230
        </td>
    </tr>
    <tr>
        <td>
            Tây Ninh
        </td>
        <td>
            18.893
        </td>
        <td style="color:red">
            +599
        </td>
        <td>
            203
        </td>
    </tr>
    <tr>
        <td>
            Kiên Giang
        </td>
        <td>
            16.091
        </td>
        <td style="color:red">
            +307
        </td>
        <td>
            157
        </td>
    </tr>
    <tr>
        <td>
            Đồng Tháp
        </td>
        <td>
            15.652
        </td>
        <td style="color:red">
            +509
        </td>
        <td>
            239
        </td>
    </tr>
    <tr>
        <td>
            Bình Thuận
        </td>
        <td>
            11.171
        </td>
        <td style="color:red">
            +370
        </td>
        <td>
            88
        </td>
    </tr>
    <tr>
        <td>
            Khánh Hòa
        </td>
        <td>
            11.102
        </td>
        <td style="color:red">
            +154
        </td>
        <td>
            94
        </td>
    </tr>
    <tr>
        <td>
            Cần Thơ
        </td>
        <td>
            10.111
        </td>
        <td style="color:red">
            +247
        </td>
        <td>
            157
        </td>
    </tr>
    <tr>
        <td>
            Sóc Trăng
        </td>
        <td>
            9.559
        </td>
        <td style="color:red">
            +376
        </td>
        <td>
            66
        </td>
    </tr>
    <tr>
        <td>
            Bạc Liêu
        </td>
        <td>
            8.606
        </td>
        <td style="color:red">
            +425
        </td>
        <td>
            87
        </td>
    </tr>
    <tr>
        <td>
            Bà Rịa – Vũng Tàu
        </td>
        <td>
            8.484
        </td>
        <td style="color:red">
            +444
        </td>
        <td>
            59
        </td>
    </tr>
    <tr>
        <td>
            Hà Nội
        </td>
        <td>
            7.593
        </td>
        <td style="color:red">
            +287
        </td>
        <td>
            42
        </td>
    </tr>
    <tr>
        <td>
            Bắc Giang
        </td>
        <td>
            6.771
        </td>
        <td style="color:red">
            +22
        </td>
        <td>
            13
        </td>
    </tr>
    <tr>
        <td>
            Đắk Lắk
        </td>
        <td>
            6.219
        </td>
        <td style="color:red">
            -
        </td>
        <td>
            36
        </td>
    </tr>
    <tr>
        <td>
            Vĩnh Long
        </td>
        <td>
            6.214
        </td>
        <td style="color:red">
            +303
        </td>
        <td>
            57
        </td>
    </tr>
    <tr>
        <td>
            Đà Nẵng
        </td>
        <td>
            5.879
        </td>
        <td style="color:red">
            +26
        </td>
        <td>
            105
        </td>
    </tr>
    <tr>
        <td>
            Cà Mau
        </td>
        <td>
            5.588
        </td>
        <td style="color:red">
            +270
        </td>
        <td>
            22
        </td>
    </tr>
    <tr>
        <td>
            Trà Vinh
        </td>
        <td>
            5.035
        </td>
        <td style="color:red">
            +194
        </td>
        <td>
            29
        </td>
    </tr>
    <tr>
        <td>
            Bến Tre
        </td>
        <td>
            4.172
        </td>
        <td style="color:red">
            +162
        </td>
        <td>
            57
        </td>
    </tr>
    <tr>
        <td>
            Bình Phước
        </td>
        <td>
            4.018
        </td>
        <td style="color:red">
            +183
        </td>
        <td>
            17
        </td>
    </tr>
    <tr>
        <td>
            Nghệ An
        </td>
        <td>
            3.424
        </td>
        <td style="color:red">
            +100
        </td>
        <td>
            25
        </td>
    </tr>
    <tr>
        <td>
            Phú Yên
        </td>
        <td>
            3.392
        </td>
        <td style="color:red">
            +11
        </td>
        <td>
            39
        </td>
    </tr>
    <tr>
        <td>
            Ninh Thuận
        </td>
        <td>
            3.274
        </td>
        <td style="color:red">
            +39
        </td>
        <td>
            41
        </td>
    </tr>
    <tr>
        <td>
            Bắc Ninh
        </td>
        <td>
            3.208
        </td>
        <td style="color:red">
            +75
        </td>
        <td>
            15
        </td>
    </tr>
    <tr>
        <td>
            Hà Giang
        </td>
        <td>
            2.925
        </td>
        <td style="color:red">
            +83
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Hậu Giang
        </td>
        <td>
            2.635
        </td>
        <td style="color:red">
            +123
        </td>
        <td>
            8
        </td>
    </tr>
    <tr>
        <td>
            Bình Định
        </td>
        <td>
            2.629
        </td>
        <td style="color:red">
            +60
        </td>
        <td>
            20
        </td>
    </tr>
    <tr>
        <td>
            Gia Lai
        </td>
        <td>
            2.542
        </td>
        <td style="color:red">
            +44
        </td>
        <td>
            6
        </td>
    </tr>
    <tr>
        <td>
            Quảng Bình
        </td>
        <td>
            2.202
        </td>
        <td style="color:red">
            +16
        </td>
        <td>
            6
        </td>
    </tr>
    <tr>
        <td>
            Quảng Nam
        </td>
        <td>
            2.179
        </td>
        <td style="color:red">
            +62
        </td>
        <td>
            12
        </td>
    </tr>
    <tr>
        <td>
            Thừa Thiên Huế
        </td>
        <td>
            2.091
        </td>
        <td style="color:red">
            +82
        </td>
        <td>
            11
        </td>
    </tr>
    <tr>
        <td>
            Thanh Hóa
        </td>
        <td>
            1.765
        </td>
        <td style="color:red">
            +45
        </td>
        <td>
            8
        </td>
    </tr>
    <tr>
        <td>
            Đắk Nông
        </td>
        <td>
            1.612
        </td>
        <td style="color:red">
            +37
        </td>
        <td>
            8
        </td>
    </tr>
    <tr>
        <td>
            Phú Thọ
        </td>
        <td>
            1.557
        </td>
        <td style="color:red">
            +23
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Hải Dương
        </td>
        <td>
            1.338
        </td>
        <td style="color:red">
            +20
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            Hà Nam
        </td>
        <td>
            1.290
        </td>
        <td style="color:red">
            +13
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Lâm Đồng
        </td>
        <td>
            1.199
        </td>
        <td style="color:red">
            +80
        </td>
        <td>
            5
        </td>
    </tr>
    <tr>
        <td>
            Quảng Ngãi
        </td>
        <td>
            1.149
        </td>
        <td style="color:red">
            +41
        </td>
        <td>
            11
        </td>
    </tr>
    <tr>
        <td>
            Nam Định
        </td>
        <td>
            975
        </td>
        <td style="color:red">
            +53
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Thái Bình
        </td>
        <td>
            895
        </td>
        <td style="color:red">
            +99
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Hà Tĩnh
        </td>
        <td>
            789
        </td>
        <td style="color:red">
            -
        </td>
        <td>
            5
        </td>
    </tr>
    <tr>
        <td>
            Quảng Trị
        </td>
        <td>
            702
        </td>
        <td style="color:red">
            +30
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Hưng Yên
        </td>
        <td>
            621
        </td>
        <td style="color:red">
            +8
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Quảng Ninh
        </td>
        <td>
            547
        </td>
        <td style="color:red">
            +49
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Vĩnh Phúc
        </td>
        <td>
            476
        </td>
        <td style="color:red">
            +32
        </td>
        <td>
            3
        </td>
    </tr>
    <tr>
        <td>
            Kon Tum
        </td>
        <td>
            352
        </td>
        <td style="color:red">
            -
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Điện Biên
        </td>
        <td>
            340
        </td>
        <td style="color:red">
            +17
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Sơn La
        </td>
        <td>
            336
        </td>
        <td style="color:red">
            -
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Lạng Sơn
        </td>
        <td>
            315
        </td>
        <td style="color:red">
            +6
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            Ninh Bình
        </td>
        <td>
            279
        </td>
        <td style="color:red">
            +6
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Tuyên Quang
        </td>
        <td>
            214
        </td>
        <td style="color:red">
            +29
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Hải Phòng
        </td>
        <td>
            170
        </td>
        <td style="color:red">
            +1
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Lào Cai
        </td>
        <td>
            155
        </td>
        <td style="color:red">
            -
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Thái Nguyên
        </td>
        <td>
            103
        </td>
        <td style="color:red">
            +4
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Hòa Bình
        </td>
        <td>
            72
        </td>
        <td style="color:red">
            +4
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Cao Bằng
        </td>
        <td>
            55
        </td>
        <td style="color:red">
            +4
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Lai Châu
        </td>
        <td>
            36
        </td>
        <td style="color:red">
            -
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Yên Bái
        </td>
        <td>
            33
        </td>
        <td style="color:red">
            +5
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>
            Bắc Kạn
        </td>
        <td>
            13
        </td>
        <td style="color:red">
            +1
        </td>
        <td>
            0
        </td>
    </tr>
</table>
